:root {
  --design-size: 1440;
  --background: #fff;
  --accent-color: #ff0000;
  --line-width: max(14px, calc(14/var(--design-size) * 100vw));
  --padding: max(1rem, calc(16/var(--design-size) * 100vw));
  --gap: calc(var(--padding) * 2);
  --bouncy-ease: cubic-bezier(0.47, 0, 0.23, 1.38);
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  min-height: 100svh;
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.xlarge-heading {
  font-size: max(6.5rem, calc(378/var(--design-size) * 100vw));
  line-height: 0.9;
  letter-spacing: -0.04em;
  font-weight: 600;
}

.large-heading {
  font-size: max(2rem, calc(40/var(--design-size) * 100vw));
  line-height: 1.1;
  letter-spacing: -0.04em;
  font-weight: 600;
}

.medium-heading {
  font-size: max(1.5rem, calc(32/var(--design-size) * 100vw));
  line-height: 1.1;
  letter-spacing: -0.04em;
  font-weight: 600;
}

.medium-body {
  font-size: max(1.25rem, calc(18/var(--design-size) * 100vw));
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.small-body {
  font-size: max(1rem, calc(16/var(--design-size) * 100vw));
  line-height: 1.5;
  letter-spacing: -0.04em;
  font-weight: 500;
}

.xsmall-body {
  font-size: max(0.875rem, calc(12/var(--design-size) * 100vw));
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 500;
}

.button {
  font-family: inherit;
  font-weight: 600;
  padding: 0.2em 0.5em;
  border-radius: 0;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 0 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

a {
  color: inherit;
}

.p .large-heading + .medium-body,
.p .large-heading + .small-body,
.p .medium-heading + .medium-body,
.p .medium-heading + .small-body,
.p .medium-body + .medium-body,
.p .medium-body + .small-body,
.p .small-body + .medium-body,
.p .small-body + .small-body {
  margin-top: 1em;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

dialog {
  display: none;
  position: fixed;
  z-index: 11;
  align-content: center;
  margin: auto;
  width: max-content;
  padding: var(--gap);
  background-color: #fff;
  transition-behavior: allow-discrete;
  transition: transform 0.5s var(--bouncy-ease), display 1s allow-discrete, overlay 1s allow-discrete;
  transform: translateY(calc(100svh + var(--padding)));
  border: 2px solid #000;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

@media (max-width: 750px) {
  dialog {
    width: calc(100% - var(--padding) * 2);
    max-width: 30rem;
  }
}

dialog .button {
  margin-top: 1em;
}

dialog::backdrop {
  opacity: 0;
  transition: opacity 0.5s var(--bouncy-ease);
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
  display: block;
  transform: translateY(0);
}

dialog[open]::backdrop {
  opacity: 1;
}

@starting-style {
  dialog[open] {
    transform: translateY(calc(100svh + var(--padding)));
  }
}

dialog svg {
  width: 1.25rem;
  height: 1.25rem;
}

dialog .close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: var(--padding);
  margin: 0;
  cursor: pointer;
}

dialog .close-button:focus {
  outline: none;
  color: var(--accent-color);
}

dialog .close-button svg {
  fill: currentColor;
}

h2 {
  scroll-margin-top: max(8rem, calc(120 / var(--design-size) * 100vw));
} 